<p>
  <strong>Atenção {{deliveryman}},</strong>
  <p>existe uma nova entrega disponível para retirada.</p>
  <p><strong>Destinatário:</strong> {{recipient.name}}</p>
  <p><strong>Endereço:</strong> {{recipient.address_street}}, {{recipient.address_number}}.
    {{recipient.address_complement}}</p>
  <p><strong>Cidade/UF:</strong> {{recipient.address_city}}/{{recipient.address_state}}</p>
  <p><strong>CEP:</strong> {{recipient.address_zipcode}}</p>
  <p><strong>Produto:</strong> {{product}}</p>
  <p><strong>Data/hora:</strong> {{date}}</p>
</p>